<div class="wrapper_with_padding">
  <div id="docs">
    <% if @docs.blank? %>
        <h2> Create Doc </h2>
        <p> Start Creating Documents and Organizing your life! </p>
        <button> <%= link_to 'Create Doc', new_doc_path %> </button>
      <% else %>
        <% @docs.each do |doc| %>
          <div class="doc">
            <p class="title"><%= link_to doc.title, doc %></p>
            <p class="date"><%= time_ago_in_words(doc.created_at) %></p>
            <p class="content"><%= truncate(doc.content, length:50) %></p>
          </div>
      <% end %>
  </div>


<% end %>
</div>
