<div class="wrapper_with_padding">
  <div id="doc_show">
    <h1 class="title"> <%= @doc.title %></h1>
    <p> <%= @doc.content %></p>

    <div class="buttons">
      <%= link_to t('.edit'), edit_doc_path(@doc), class: 'button' %>
      <%= link_to t('.destroy'), doc_path(@doc), method: :delete, data: { confirm: t(:confirm_message) }, class: 'button' %>
    </div>
  </div>
</div>
